.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.content {
  margin-left: 200px; /* make room for the sidebar */
  overflow-y: scroll; /* add vertical scrollbar */
  height: 100vh; /* set height to fill the viewport */
}
